<section>
  <!-- selectedMovie details with all the information about the selectedMovie -->
  <!-- selectedMovie-detail.component.html -->
  <!-- movie-detail.component.html -->
  <div class="movie-detail-container" *ngIf="selectedMovie">
    <div class="watchlist-icon" (click)="addToWatchlist(selectedMovie.id)">
      <span *ngIf="selectedMovie.watchlist" class="material-icons-outlined">star</span>
      <span *ngIf="!selectedMovie.watchlist" class="material-icons-outlined">star_border</span>
    </div>
    <div class="movie-poster">
      <img src="{{ selectedMovie.image }}" alt="{{ selectedMovie.title }} poster" />
    </div>
    <div class="movie-content">
      <h1 class="movie-title">{{ selectedMovie.title }}</h1>

      <p class="movie-description">{{ selectedMovie.description }}</p>
      <ul class="movie-metadata">
        <li><strong>Genre:</strong> {{ selectedMovie.genre }}</li>
        <li><strong>Duration:</strong> {{ selectedMovie.duration }} min</li>
        <li><strong>Release Date:</strong> {{ selectedMovie.releaseDate | date:'longDate' }}</li>
        <li><strong>Rating:</strong> {{ selectedMovie.rating }}/10</li>
      </ul>
    
      <mat-slide-toggle class="toggle" [checked]="selectedMovie.watchlist" (change)="addToWatchlist(selectedMovie.id)">
      <div class="full-width-centered">
        {{
          selectedMovie.watchlist ? 'Added to watchlist' : 'Not in watchlist' }}
      </div>
      </mat-slide-toggle>
    </div>
  </div>


</section>